* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff; /* color of text */
    font-size: 30px;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100%vw; /* vw = view width */
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
}